.popular {
    padding: 64px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    background-image: url(../../assets/popular_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.popular__title {
    font-size: 56px;
    font-family: var(--playfair-display);
    font-weight: 600;
    line-height: 78px;
    color: white;
    text-align: center;
}

.popular__filters {
    margin-top: 48px;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.popular__filter-button {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 46px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    font-family: var(--plus-jakarta-sans);
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.popular__filter-button img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.active {
    background-color: white;
    color: var(--primary-color);
    transition: 0.25s;
}

.popular__filter-button:hover {
    background-color: white;
    color: var(--primary-color);
}

.active:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}